@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Fade dpwm amo,atopm */
  --fade-down-function: cubic-bezier(0, 0.79, 0.19, 1.07);
  --fade-down-speed: 2s;

  --fade-down-0: var(--fade-down-speed) var(--fade-down-function) 0s forwards;
  --fade-down-1: var(--fade-down-speed) var(--fade-down-function) 0.5s forwards;
  --fade-down-2: var(--fade-down-speed) var(--fade-down-function) 1s forwards;
  --fade-down-3: var(--fade-down-speed) var(--fade-down-function) 1.5s forwards;
  --fade-down-4: var(--fade-down-speed) var(--fade-down-function) 2s forwards;

  /* Fade om animation */
  --fade-in-speed: 2s;

  --fade-in-0: var(--fade-in-speed) ease-out 0s forwards;
  --fade-in-1: var(--fade-in-speed) ease-out 0.5s forwards;
  --fade-in-2: var(--fade-in-speed) ease-out 1s forwards;
  --fade-in-3: var(--fade-in-speed) ease-out 1.5s forwards;
  --fade-in-4: var(--fade-in-speed) ease-out 2s forwards;
}

.theme-default {

}

.theme-dark {
  /* BACKGROUND */
  --bg-color-0: #171717;
  --bg-color-0-inset: #1c1c1c;
  --bg-color-1: #020202;
  --bg-color-1-inset: #252424;
  --bg-color-2: #0a0a0a;

  /* TEXT COLOR */
  --text-color-0: #858585;
  --text-color-1: #DB2A94;
  --text-color-2: #DB682A;
  --text-color-3: #DB492A;
  --text-color-4: #DB872A;
  --text-color-5: #DB8573;
  --text-color-6: #eeeeee;

  --text-color-0-muted: #535353;

  /* TEXT FONT */
  --text-font-0: "Montserrat", sans-serif;
  --text-font-1: "Oswald", serif;
  --text-font-2: "Arsenal SC", serif;
  --text-font-3: "Doto", sans-serif;
  --text-font-4: "Josefin Sans", sans-serif;
  --text-font-5: "Play", sans-serif;
  --text-font-6: "Jacquard 24", system-ui;
  --text-font-7: "Courier Prime", monospace;
  --text-font-8: "Roboto Mono", monospace;
  --text-font-9: "MedievalSharp", cursive;
  
  /* SCROLLBAR */
  --bg-color-0-scroll-bar: #4d4d4d;
  --bg-color-0-scroll-bar-hover: #4d4d4d;
  --bg-color-0-scroll-bar-track: rgba(47, 47, 51, 0.7);

  --scroll-bar-width: 8px;

  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.code-theme-0 {
  --object-color: #DAD085;
  --type-color: #CDA869;
  --regular-color: #eeeeee;
  --string-color: #8F9D6A;
  --operator-color: #CDA869;
  --number-color: #CF6A4C;
  --comment-color: #5F5A60;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* WIREFRAME CLASS */
.wireframe * {
  outline: 1px solid red !important;
} 


/* DEFAULT INPUT */
input {
  all: unset;
}

input::placeholder {
  color: var(--text-color-0-muted);
}


/* DEFAULT SCROLLBAR */
::-webkit-scrollbar {
  width: var(--scroll-bar-width);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px var(--bg-color-0-scroll-bar-track); 
  /* background-color: var(--bg-color-scroll-bar-track);  */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /* background: #5f677e;  */
  background: var(--bg-color-0-scroll-bar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color-0-scroll-bar); 
}

body {
  background: var(--bg-color-0);
}
