@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-default {

}

.theme-dark {
  /* BACKGROUND */
  --bg-color-0: #171717;
  --bg-color-0-inset: #080808;
  --bg-color-1: #020202;
  --bg-color-1-inset: #020202;

  /* TEXT COLOR */
  --text-color-0: #ffffff;

  /* TEXT FONT */
  --text-font-0: "Montserrat", sans-serif;
  --text-font-1: "Oswald", serif;
  --text-font-2: font-family: "Arsenal SC", serif;

  /* SCROLLBAR */
  --bg-color-0-scroll-bar: #4d4d4d;
  --bg-color-0-scroll-bar-hover: #4d4d4d;
  --bg-color-0-scroll-bar-track: rgba(47, 47, 51, 0.7);

  --scroll-bar-width: 8px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* WIREFRAME CLASS */
.wireframe * {
  outline: 1px solid red !important;
} 


/* DEFAULT INPUT */
input {
  all: unset;
}

input::placeholder {
  color: var(--text-color-0-muted);
}


/* DEFAULT SCROLLBAR */
::-webkit-scrollbar {
  width: var(--scroll-bar-width);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px var(--bg-color-0-scroll-bar-track); 
  /* background-color: var(--bg-color-scroll-bar-track);  */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /* background: #5f677e;  */
  background: var(--bg-color-0-scroll-bar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color-0-scroll-bar); 
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.oswald-regular {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.arsenal-sc-regular,
.arsenal-sc-bold,
.arsenal-sc-regular-italic,
.arsenal-sc-bold-italic {
  font-family: "Arsenal SC", serif;
  font-weight: 400;
  font-style: normal;
}


/* a {
  color: #dc51cd;
  font-weight: 200;
  text-decoration: underline;
  text-decoration-thickness: 1px;
} */

body {
  color: var(--foreground);
  background: var(--background);
  height: 250vh;
}
